# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Docker
*.pid
docker-compose.override.yml

# Test/coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/__pycache__/

# System
Thumbs.db 
.env